@model WebApp.Dto.AuthorDetailDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
  

<h1>Author: @Model!.FirstName @Model.LastName</h1>
<p>@Model.DateOfBirth?.ToString("yyyy") - @Model.DateOfDeath?.ToString("yyyy")</p>
<p>@Model.Info</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Books</h4>

    <dl>
        @foreach (var book in Model.Books)
        {
            <dt><a asp-action="Detail" asp-controller="Book" asp-route-id="@book.Id">@book.Title</a> (
                @if (book.Instances != null)
                {
                    @book.Instances.Count()
                }
                )</dt>
            <dd>@book.Summary</dd>
        }
    </dl>

</div>
