@model Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

}
<div class="container">
    <div class="row">
        <div class="col-md-6">

            @{
                if (!string.IsNullOrEmpty(@Model?.MediumCoverLink))
                {
                    <img alt="Image" src="@Model?.MediumCoverLink"/>
                }
                else
                {
                    <img width="400" height="600" alt="no-cover" src="~/images/no-cover.jpg"/>
                }
            }
        </div>
        <div class="col-md-6">

            <h2>@Model?.Title</h2>
            <hr/>
            <p>
                <strong>Author:</strong>
                <a asp-action="Detail" asp-controller="Author"
                   asp-route-id="@Model!.Author!.Id">
                    @Model?.Author?.Name
                </a>
            </p>
            <p>
                <strong>Summary:</strong> @Model?.Summary
            </p>
            <p>
                <strong>ISBN:</strong> @Model?.Isbn
            </p>
            <p>
                <strong>Language:</strong> @Model?.Language
            </p>
            <p>
                <strong>Genre:</strong>@Model?.Genres
            </p>

        </div>
    </div>
</div>
<hr/>
@if (User.IsInRole("ADMIN"))
{
    <form asp-controller="BookInstance" asp-action="Create" asp-route-bookId="@Model!.Id">
        <input name="Imprint" type="text" class="form-control" placeholder="Imprint">
        <button class="btn-sm btn-success">Create Instance</button>
    </form>
}


<div class="mt-3">
    <h4>Copies</h4>
    <hr>
    @if (Model!.Instances!.Any())
    {
        @foreach (var instance in Model!.Instances!)
        {
            var loanStatusClass = instance.LoanStatus switch
            {
                LoanStatus.Available => "text-success",
                LoanStatus.Maintenance => "text-warning",
                LoanStatus.OnLoan => "text-primary",
                LoanStatus.Reserved => "text-info",
                _ => "text-primary"
                };
            <p class="@loanStatusClass">@instance.LoanStatus</p>
            <p>
                <strong>Imprint:</strong> @instance.Imprint
            </p>
            <a asp-controller="BookInstance" asp-action="Detail" asp-route-id="@instance.Id">
                <p class="text-muted">
                    <strong>Id:</strong> @instance.Id
                </p>
            </a>

            @if (instance.LoanStatus == LoanStatus.Available)
            {
                <form asp-controller="UserBookInstance" asp-action="Loan" asp-route-bookInstanceId="@instance.Id" method="post">
                    <button type="submit" class="btn btn-success btn-sm">Loan</button>
                </form>
            }
        }
    }
</div>