@model IEnumerable<Book>

@{
    ViewBag.Title = "Book";
    Layout = "_Layout";
}

<h2>Book index page</h2>
<table class="table">
    <thead>
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author!.Name)
        </th>
        <th>
            Instance Count
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model!)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(book.SmallCoverLink))
                {
                    <img src="@book.SmallCoverLink" alt=""/>
                }
            </td>
            <td>
                <a class="nav-link" asp-action="Detail" asp-route-id="@book.Id">
                    @Html.DisplayFor(modelItem => book.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Genres)
            </td>
            <td>
                <a class="nav-link" asp-controller="Author" asp-action="Detail" asp-route-id="@book.Author!.Id">
                    @Html.DisplayFor(modelItem => book.Author!.Name)
                </a>
            </td>
            <td>
                @book.Instances!.Count()
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                <a asp-action="Detail" asp-route-id="@book.Id">Details</a>
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>